<p id="notice"><%= notice %></p>

<p>
  <b>Count:</b>
  <%= @trumpet_point.count %>
</p>

<p>
  <b>Name:</b>
  <%= @trumpet_point.name %>
</p>

<p>
  <b>Acts as level:</b>
  <%= @trumpet_point.acts_as_level %>
</p>

<p>
  <b>Acts as acheivement:</b>
  <%= @trumpet_point.acts_as_acheivement %>
</p>


<%= link_to 'Edit', edit_trumpet_point_path(@trumpet_point) %> |
<%= link_to 'Back', trumpet_points_path %>
